**write a pogram to import nessesary library for data cleaning.**

In [1]:
import pandas as pd
import numpy as np

Write a program to print out columns with missing values, and shows its amount.

In [2]:
d = {'First Score': [100, 90, np.nan, 95],
        'Second Score': [30, 45, 56, np.nan],
        'Third Score': [np.nan, 40, 80, 98]}
df = pd.DataFrame(d)

# Checking for missing values using isnull()
mv = df.isnull()

print(mv)

   First Score  Second Score  Third Score
0        False         False         True
1        False         False        False
2         True         False        False
3        False          True        False

Write a program to find the percentage of missing values in each of the columns.

In [3]:
df = pd.DataFrame(d)

# Calculate the percentage of missing values in each column
missing_percentage = df.isnull().mean() * 100

# Print the result
print("Percentage of missing values in each column:")
print(missing_percentage)

Percentage of missing values in each column:
First Score     25.0
Second Score    25.0
Third Score     25.0
dtype: float64

Wririte a program to replace values in the columns

In [4]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Gender': ['Female', 'Male', 'Male'],
    'Age': [25, 30, 22]
}

df = pd.DataFrame(data)

# Replace values in the 'Gender' column
df['Gender'] = df['Gender'].replace({'Male': 'M', 'Female': 'F'})

# Print updated DataFrame
print(df)

      Name Gender  Age
0    Alice      F   25
1      Bob      M   30
2  Charlie      M   22

Write a program to remove rows having duplicate values.

In [5]:
# Sample DataFrame
data = {
    'roll_no': [101, 102, 103],
    'name': ['Ravi', 'Priya', 'Amit'],
    'marks': [85, 90, 78]
}

df = pd.DataFrame(data)

# üîç Before renaming
print("Before Renaming:\n", df)

# üìù Rename columns
df.rename(columns={
    'roll_no': 'Roll Number',
    'name': 'Student Name',
    'marks': 'Score'
}, inplace=True)

# ‚úÖ After renaming
print("\nAfter Renaming:\n", df)

Before Renaming:
    roll_no   name  marks
0      101   Ravi     85
1      102  Priya     90
2      103   Amit     78

After Renaming:
    Roll Number Student Name  Score
0          101         Ravi     85
1          102        Priya     90
2          103         Amit     78

Write a program to change the data type of a column.

In [6]:
# Sample DataFrame with string type numbers
data = {
    'roll_no': ['101', '102', '103'],     # string type
    'name': ['Ravi', 'Priya', 'Amit'],
    'marks': ['85', '90', '78']           # string type
}

df = pd.DataFrame(data)

# üîç Before type conversion
print("Before Type Conversion:\n")
print(df.dtypes)

# üß† Convert 'roll_no' and 'marks' to integers
df['roll_no'] = df['roll_no'].astype(int)
df['marks'] = df['marks'].astype(int)

# ‚úÖ After type conversion
print("\nAfter Type Conversion:\n")
print(df.dtypes)

Before Type Conversion:

roll_no    object
name       object
marks      object
dtype: object

After Type Conversion:

roll_no     int64
name       object
marks       int64
dtype: object

  Identify Columns That Contain a Single Value.

In [7]:
# Sample DataFrame
data = {
    'name': ['Ravi', 'Priya', 'Amit'],
    'course': ['BCA', 'BCA', 'BCA'],       # single value column
    'marks': [85, 90, 78],
    'status': ['Pass', 'Pass', 'Pass']    # single value column
}

df = pd.DataFrame(data)

# üîç Find columns with a single unique value
single_value_columns = [col for col in df.columns if df[col].nunique() == 1]

# ‚úÖ Output result
print("Columns with only one unique value:")
print(single_value_columns)

Columns with only one unique value:
['course', 'status']

Delete Columns That Contain a Single Value.

In [8]:
# Sample DataFrame
data = {
    'name': ['Ravi', 'Priya', 'Amit'],
    'course': ['BCA', 'BCA', 'BCA'],       # single value column
    'marks': [85, 90, 78],
    'status': ['Pass', 'Pass', 'Pass']    # single value column
}

df = pd.DataFrame(data)

# üîç Identify single-value columns
single_value_columns = [col for col in df.columns if df[col].nunique() == 1]

# üßπ Drop them
df.drop(columns=single_value_columns, inplace=True)

# ‚úÖ Show final DataFrame
print("DataFrame after removing single-value columns:\n")
print(df)

DataFrame after removing single-value columns:

    name  marks
0   Ravi     85
1  Priya     90
2   Amit     78

Consider Columns That Have Very Few Values.

In [9]:
# Sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['Delhi', 'Mumbai', 'Chennai']
}

df = pd.DataFrame(data)

# ‚úÖ Before renaming
print("Before Renaming:\n", df)

# Rename columns
df.rename(columns={'Name': 'Full Name', 'Age': 'Years', 'City': 'Location'}, inplace=True)

# ‚úÖ After renaming
print("\nAfter Renaming:\n", df)

Before Renaming:
       Name  Age     City
0    Alice   25    Delhi
1      Bob   30   Mumbai
2  Charlie   35  Chennai

After Renaming:
   Full Name  Years Location
0     Alice     25    Delhi
1       Bob     30   Mumbai
2   Charlie     35  Chennai